# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.idea/

# ignore model checkpoint
*.ckpt
*.pt

# ignore hw3 model files
hw3/model/*
