# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.idea/

# ignore model checkpoint
*.ckpt
*.pt
*.pb

# ignore hw3 model files
hw3/model/*

# ignore hw4 images
hw4/selected_cartoonset100k/*.png
*.png
*.gif

b04705026/
b04705026.zip

